node_modules/
**/node_modules/
client/.next/
server/database.sqlite
server/serviceAccountKey.json
client/.env.local
server/.env
.env
.DS_Store
cultosig-project.zip
*.log
npm-debug.log*
package-lock.json
yarn.lock
